@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
a {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #24292e;
        color: #d6d8da;
    }

    a {
        color: #cac7c7 !important;
    }
    
    footer, .bg-accent-1{
        background: #32383f;
    }
}